h1{
    color: #14fcfc;
    text-shadow: 0px 4px 6px rgb(249, 249, 6);
    margin-bottom: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  font-size: 20px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgb(255, 247, 5);
  margin-left: 3px;
  text-shadow: 0px 4px 6px blue;
}

.input {
  height: 40px;
  width: 100%;
  border-radius: 10px;
  border: none;
  box-shadow: inset 10px 10px 15px rgba(21, 19, 19, 0.12);
  transition: all 500ms ease;
  cursor: pointer;
}

.formBtn {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 247, 5);
  /* background-color: #50f105; */
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 500ms ease;
}

.formBtn:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-formBtn 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-formBtn {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.formBtn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #05f3bf;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.formBtn:hover {
  color: #011e17;
  box-shadow: inset 0 0 0 3px #3a7999;

  scale: 1.05;
}
