.filterSection {
    padding-top: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.filterLabel {
 font-size: 23px;
  font-weight: 700;
  color: rgb(44, 44, 181);
   text-shadow: 0px 4px 3px rgba(252, 252, 252, 0.6),
    0px 8px 13px rgba(236, 244, 5, 0.2),
    0px 18px 23px rgba(49, 248, 5, 0.2);
}

.filterName {
border-radius: 10px;
height: 30px;
width: 300px;
padding-left: 7px;
cursor: pointer;
box-shadow: rgb(248, 250, 251) 0px 0px 15px 0px;
transition: all 500ms ease; 
color: #000000;
font-size: 20px;
}

.filterName:hover,
.filterName:focus {
    border-color: #f5f551;
box-shadow: rgb(251, 251, 248) 0px 5px 20px 5px;
}